body{
    background-color: #f0f0f0;
}
.verificacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.verificacion img{
    background-color: #1e2126;
    
    
}