.img-1{
    background-image: url('../img/vaner.jpg');
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url('../img/vane2.jpg');
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url('../img/vaner3.jpg');
    background-size: cover;
    background-position: center;
}
