{% extends "structura.html" %}
<head>
  {% block head %}
  <link rel="stylesheet" href="/static/css/login.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  {% endblock %}
  <title>{% block titlte %} Iniciar sesion {% endblock %}</title>
</head>

{% block navbar %}
<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="/">Pagina principal</a></li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign-in">Registrarse</a>
  </li>
</ul>
{% endblock %} 
{% block main %}
<section>
  <div class="row g-0">
    <div class="col-lg-7">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item img-1 min-vh-100 active"></div>
          <div class="carousel-item img-2 min-vh-100"></div>
          <div class="carousel-item img-3 min-vh-100"></div>
          <div class="carousel-item img-4 min-vh-100"></div>
          <div class="carousel-item img-5 min-vh-100"></div>
          <div class="carousel-item img-6 min-vh-100"></div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-5 d-flex flex-column align-items-end min-vh-100 bg-dark">
      <div class="px-lg-5 py-lg-4 p-4 w-100 m-auto align-self-center">
        <h1 class="mb-4">Bienvenido</h1>
        <form
          class="mb-5"
          method="post"
        >
          {%csrf_token%}
          <div class="mb-4">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input
              type="text"
              class="form-control border-0 bg-dark-x"
              placeholder="Ingresa tu username"
              name="username"
              id="exampleInputUsername1"
              required
            />
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <div class="col d-flex">
              <input
                type="password"
                class="form-control bg-dark-x border-0"
                placeholder="Ingresa tu contraseña"
                name="password"
                id="exampleInputPassword1"
                required
              />
              <button
                class="btn bg-dark-x"
                type="button"
                onclick="mostrarContrasena('exampleInputPassword1')"
              >
                <i class="fa fa-eye bg-dark-x" aria-hidden="true"></i>
              </button>
            </div>
            <a
              href="/recuperarContraseña"
              id="emailHelp"
              class="form-text text-muted text-decoration-none"
              >¿Haz olvidado la contraseña?</a
            >
          </div>
          <br />
          {% if message != "" %}
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            id="liveAlert"
          >
            <span>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> 
              {{form.errors}}
            </span>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endif %}
          <br />
          <input
            type="submit"
            value="Iniciar sesion"
            class="btn btn-primary w-100"
          />
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/static/scripts/scripts.js"></script>

{% endblock %}
