<div style="width: 500px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #1e2126;
            color: #fff">
    <img src="/static/img/SANTI2.png" width="150">
    <h3>Verificacion de cuenta</h3>
    <p>Para verificar que {email} te pertenece, ingresa en el siguiente link.</p>
    <a href="{message2}">{message2}</a>
    <br>
    <p>Recuerda que no podrás iniciar sesión sin verificar tu email.</p>
</div>